In [167]:
import pandas as pd
import pandas_ta as ta
import numpy as np

In [168]:
# Scarica i dati storici dei prezzi dei Bitcoin
dati = pd.read_csv('Bitcoin (€) da yfinance dal 17-09-2014 al 26-03-2024.csv')
dati

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,359.546204,361.468506,351.586884,355.957367,355.957367,16389166
1,2014-09-18,355.588409,355.505402,319.789459,328.539368,328.539368,26691849
2,2014-09-19,328.278503,330.936707,298.921021,307.761139,307.761139,29560103
3,2014-09-20,307.665253,329.978180,303.931244,318.758972,318.758972,28736826
4,2014-09-21,318.120514,321.504517,306.502197,310.632446,310.632446,20702625
...,...,...,...,...,...,...,...
3474,2024-03-22,62090.269531,62374.550781,59476.636719,60291.375000,60291.375000,40948610730
3475,2024-03-23,60290.027344,61475.000000,57444.882812,58737.050781,58737.050781,38128358668
3476,2024-03-24,58759.117188,60760.968750,58055.300781,58998.085938,58998.085938,22783349644
3477,2024-03-25,59005.960938,62557.816406,58780.417969,62211.914062,62211.914062,25174349775
3478,2024-03-26,62211.843750,65645.140625,61400.976562,64555.195312,64555.195312,39401980746

In [169]:
dati = dati[['Date', 'Open', 'High', 'Low', 'Close']]
dati

            Date          Open          High           Low         Close
0     2014-09-17    359.546204    361.468506    351.586884    355.957367
1     2014-09-18    355.588409    355.505402    319.789459    328.539368
2     2014-09-19    328.278503    330.936707    298.921021    307.761139
3     2014-09-20    307.665253    329.978180    303.931244    318.758972
4     2014-09-21    318.120514    321.504517    306.502197    310.632446
...          ...           ...           ...           ...           ...
3474  2024-03-22  62090.269531  62374.550781  59476.636719  60291.375000
3475  2024-03-23  60290.027344  61475.000000  57444.882812  58737.050781
3476  2024-03-24  58759.117188  60760.968750  58055.300781  58998.085938
3477  2024-03-25  59005.960938  62557.816406  58780.417969  62211.914062
3478  2024-03-26  62211.843750  65645.140625  61400.976562  64555.195312

[3479 rows x 5 columns]

In [170]:
# Aggiungo varie colonne con le medie mobili sia semplici che esponenziali con varie lunghezze
for lunghezza in range(2, 201):
    dati.ta.sma(length=lunghezza, append=True)

for lunghezza in range(2, 201):
    dati.ta.ema(length=lunghezza, append=True) # il calcolo che viene fatto per la media mobile esponenziale è EMA = (Close - EMA_precedente) * 2/(lunghezza+1) + EMA_precedente

C:\Users\Alessandro\AppData\Local\Temp\ipykernel_23392\53407665.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dati.ta.sma(length=lunghezza, append=True)

In [171]:
# Calcolo di vari indicatori tecnici di esempio
# dati.ta.sma(length=10, append=True)
# dati.ta.ema(length=10, append=True)
# dati.ta.bbands(length=20, append=True)
# dati.ta.macd(fast=12, slow=26, signal=9, append=True)
# dati.ta.rsi(length=14, append=True)
# dati.ta.kc(length=20, append=True)
# dati.ta.momentum(length=10, append=True)


dati

,Date,Open,High,Low,Close,SMA_2,SMA_3,SMA_4,SMA_5,SMA_6,...,EMA_191,EMA_192,EMA_193,EMA_194,EMA_195,EMA_196,EMA_197,EMA_198,EMA_199,EMA_200
0,2014-09-17,359.546204,361.468506,351.586884,355.957367,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-09-18,355.588409,355.505402,319.789459,328.539368,342.248367,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-09-19,328.278503,330.936707,298.921021,307.761139,318.150253,330.752625,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-09-20,307.665253,329.978180,303.931244,318.758972,313.260056,318.353160,327.754211,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-09-21,318.120514,321.504517,306.502197,310.632446,314.695709,312.384186,316.422981,324.329858,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3474,2024-03-22,62090.269531,62374.550781,59476.636719,60291.375000,61191.777344,59794.309896,60376.419922,60868.788281,60719.924479,...,41732.130544,41679.924072,41628.013771,41576.397323,41525.072439,41474.036863,41423.288372,41372.824769,41322.643890,41272.743597
3475,2024-03-23,60290.027344,61475.000000,57444.882812,58737.050781,59514.212891,60373.535156,59529.995117,60048.546094,60513.498698,...,41909.265130,41856.681862,41804.395596,41752.404025,41700.704871,41649.295888,41598.174861,41547.339603,41496.787958,41446.517798
3476,2024-03-24,58759.117188,60760.968750,58055.300781,58998.085938,58867.568359,59342.170573,60029.672852,59423.613281,59873.469401,...,42087.273680,42034.312992,41981.650136,41929.282814,41877.208759,41825.425736,41773.931538,41722.723988,41671.800938,41621.160267
3477,2024-03-25,59005.960938,62557.816406,58780.417969,62211.914062,60605.000000,59982.350260,60059.606445,60466.121094,59888.330078,...,42296.905351,42243.407304,42190.209558,42137.309801,42084.705752,42032.395161,41980.375806,41928.645497,41877.202069,41826.043389
3478,2024-03-26,62211.843750,65645.140625,61400.976562,64555.195312,63383.554688,61921.731771,61125.561523,60958.724219,61147.633464,...,42528.762538,42474.617542,42420.776421,42367.236832,42313.996462,42261.053030,42208.404286,42156.048007,42103.982002,42052.204105

In [172]:
dati_arricchiti = dati.dropna().reset_index(drop=True)
dati_arricchiti

,Date,Open,High,Low,Close,SMA_2,SMA_3,SMA_4,SMA_5,SMA_6,...,EMA_191,EMA_192,EMA_193,EMA_194,EMA_195,EMA_196,EMA_197,EMA_198,EMA_199,EMA_200
0,2015-04-04,231.679123,232.560120,228.771866,231.137939,231.422653,231.874003,231.309162,230.526660,230.205231,...,257.740280,257.913785,258.060365,258.249473,258.409960,258.574715,258.727054,258.862407,259.001693,259.142419
1,2015-04-05,231.196243,236.762024,229.539001,237.036560,234.087250,233.293955,233.164642,232.454642,231.611643,...,257.524616,257.697441,257.843625,258.031905,258.191864,258.356054,258.507958,258.643052,258.782042,258.922461
2,2015-04-06,237.148453,238.453415,231.853363,233.688843,235.362701,233.954447,233.392677,233.269482,232.660342,...,257.276327,257.448647,257.594607,257.782232,257.941833,258.105625,258.257260,258.392256,258.531110,258.671380
3,2015-04-07,233.489441,233.932327,230.513672,233.992599,233.840721,234.906001,233.963985,233.512662,233.390002,...,257.033788,257.205579,257.351287,257.538236,257.697453,257.860823,258.012163,258.147033,258.285725,258.425820
4,2015-04-08,233.885391,233.508423,226.460495,227.250977,230.621788,231.644140,232.992245,232.621384,232.469048,...,256.723550,256.895169,257.040975,257.227597,257.386775,257.550063,257.701444,257.836520,257.975377,258.115622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3275,2024-03-22,62090.269531,62374.550781,59476.636719,60291.375000,61191.777344,59794.309896,60376.419922,60868.788281,60719.924479,...,41732.130544,41679.924072,41628.013771,41576.397323,41525.072439,41474.036863,41423.288372,41372.824769,41322.643890,41272.743597
3276,2024-03-23,60290.027344,61475.000000,57444.882812,58737.050781,59514.212891,60373.535156,59529.995117,60048.546094,60513.498698,...,41909.265130,41856.681862,41804.395596,41752.404025,41700.704871,41649.295888,41598.174861,41547.339603,41496.787958,41446.517798
3277,2024-03-24,58759.117188,60760.968750,58055.300781,58998.085938,58867.568359,59342.170573,60029.672852,59423.613281,59873.469401,...,42087.273680,42034.312992,41981.650136,41929.282814,41877.208759,41825.425736,41773.931538,41722.723988,41671.800938,41621.160267
3278,2024-03-25,59005.960938,62557.816406,58780.417969,62211.914062,60605.000000,59982.350260,60059.606445,60466.121094,59888.330078,...,42296.905351,42243.407304,42190.209558,42137.309801,42084.705752,42032.395161,41980.375806,41928.645497,41877.202069,41826.043389
3279,2024-03-26,62211.843750,65645.140625,61400.976562,64555.195312,63383.554688,61921.731771,61125.561523,60958.724219,61147.633464,...,42528.762538,42474.617542,42420.776421,42367.236832,42313.996462,42261.053030,42208.404286,42156.048007,42103.982002,42052.204105

### Costruisco il dataset di addestramento su cui farò machine learning

In [173]:
# Numero di giorni nel futuro da prevedere
futuro = 7

# Crea un nuovo DataFrame per i dati di addestramento
dati_addestramento = pd.DataFrame()

# Aggiungi le colonne delle features al DataFrame di addestramento
for i in range(len(dati_arricchiti) - futuro):
    features = dati_arricchiti.iloc[i, 1:].tolist()
    dati_addestramento = dati_addestramento.append([features], ignore_index=True)

# Rinomina le colonne delle features
dati_addestramento.columns = dati_arricchiti.columns[1:]

# Crea un nuovo DataFrame per i target
dati_target = pd.DataFrame()

# Aggiungi le colonne dei target al DataFrame dei target
for i in range(1, len(dati_arricchiti) - futuro + 1):
    target = dati_arricchiti['Close'].iloc[i:i+futuro].tolist()
    dati_target = dati_target.append([target], ignore_index=True)

# Rinomina le colonne dei target
dati_target.columns = [f'Futuro_{j+1}' for j in range(futuro)]

# Unisci i DataFrame delle features e dei target
dati_finali = pd.concat([dati_addestramento, dati_target], axis=1)

# Stampa i primi dati per controllare
dati_finali

C:\Users\Alessandro\AppData\Local\Temp\ipykernel_23392\2032254190.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dati_addestramento = dati_addestramento.append([features], ignore_index=True)

C:\Users\Alessandro\AppData\Local\Temp\ipykernel_23392\2032254190.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dati_target = dati_target.append([target], ignore_index=True)

,Open,High,Low,Close,SMA_2,SMA_3,SMA_4,SMA_5,SMA_6,SMA_7,...,EMA_198,EMA_199,EMA_200,Futuro_1,Futuro_2,Futuro_3,Futuro_4,Futuro_5,Futuro_6,Futuro_7
0,231.679123,232.560120,228.771866,231.137939,231.422653,231.874003,231.309162,230.526660,230.205231,229.181741,...,258.862407,259.001693,259.142419,237.036560,233.688843,233.992599,227.250977,228.503372,222.667419,223.120163
1,231.196243,236.762024,229.539001,237.036560,234.087250,233.293955,233.164642,232.454642,231.611643,231.181135,...,258.643052,258.782042,258.922461,233.688843,233.992599,227.250977,228.503372,222.667419,223.120163,222.659821
2,237.148453,238.453415,231.853363,233.688843,235.362701,233.954447,233.392677,233.269482,232.660342,231.908386,...,258.392256,258.531110,258.671380,233.992599,227.250977,228.503372,222.667419,223.120163,222.659821,212.455780
3,233.489441,233.932327,230.513672,233.992599,233.840721,234.906001,233.963985,233.512662,233.390002,232.850664,...,258.147033,258.285725,258.425820,227.250977,228.503372,222.667419,223.120163,222.659821,212.455780,205.879745
4,233.885391,233.508423,226.460495,227.250977,230.621788,231.644140,232.992245,232.621384,232.469048,232.512998,...,257.836520,257.975377,258.115622,228.503372,222.667419,223.120163,222.659821,212.455780,205.879745,209.679611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3268,66720.078125,67416.492188,63001.464844,65603.539062,66163.695312,65915.070312,65932.103516,65360.277344,64899.095052,64543.729353,...,39925.060367,39878.749986,39832.700552,63730.011719,59975.605469,62838.261719,62122.750000,56999.375000,62092.179688,60291.375000
3269,65595.531250,66513.570312,60287.109375,63730.011719,64666.775391,65352.467448,65368.805664,65491.685156,65088.566406,64732.083147,...,40164.306109,40117.262603,40070.484743,59975.605469,62838.261719,62122.750000,56999.375000,62092.179688,60291.375000,58737.050781
3270,63719.652344,64319.992188,59503.882812,59975.605469,61852.808594,63103.052083,64008.251953,64290.165625,64572.338542,64358.143415,...,40363.414646,40315.846032,40268.545646,62838.261719,62122.750000,56999.375000,62092.179688,60291.375000,58737.050781,58998.085938
3271,59976.734375,63235.273438,59223.554688,62838.261719,61406.933594,62181.292969,63036.854492,63774.253906,64048.181641,64324.613281,...,40589.292506,40541.070189,40493.119935,62122.750000,56999.375000,62092.179688,60291.375000,58737.050781,58998.085938,62211.914062
3272,62820.515625,63275.128906,61246.179688,62122.750000,62480.505859,61645.539062,62166.657227,62854.033594,63499.003255,63773.119978,...,40805.709164,40756.886987,40708.340134,56999.375000,62092.179688,60291.375000,58737.050781,58998.085938,62211.914062,64555.195312

#### Aggiungo anche le variazioni dei prezzi per ogni giorno futuro

In [174]:
dati_finali['Variazione futuro 1'] = np.where(dati_finali['Futuro_1'] - dati_finali['Close'] >= 0, "+", "-")
for i in range(2, futuro + 1):
    dati_finali[f'Variazione futuro {i}'] = np.where(dati_finali[f'Futuro_{i}'] - dati_finali[f'Futuro_{i-1}'] >= 0, "+", "-")

In [175]:
dati_finali

,Open,High,Low,Close,SMA_2,SMA_3,SMA_4,SMA_5,SMA_6,SMA_7,...,Futuro_5,Futuro_6,Futuro_7,Variazione futuro 1,Variazione futuro 2,Variazione futuro 3,Variazione futuro 4,Variazione futuro 5,Variazione futuro 6,Variazione futuro 7
0,231.679123,232.560120,228.771866,231.137939,231.422653,231.874003,231.309162,230.526660,230.205231,229.181741,...,228.503372,222.667419,223.120163,+,-,+,-,+,-,+
1,231.196243,236.762024,229.539001,237.036560,234.087250,233.293955,233.164642,232.454642,231.611643,231.181135,...,222.667419,223.120163,222.659821,-,+,-,+,-,+,-
2,237.148453,238.453415,231.853363,233.688843,235.362701,233.954447,233.392677,233.269482,232.660342,231.908386,...,223.120163,222.659821,212.455780,+,-,+,-,+,-,-
3,233.489441,233.932327,230.513672,233.992599,233.840721,234.906001,233.963985,233.512662,233.390002,232.850664,...,222.659821,212.455780,205.879745,-,+,-,+,-,-,-
4,233.885391,233.508423,226.460495,227.250977,230.621788,231.644140,232.992245,232.621384,232.469048,232.512998,...,212.455780,205.879745,209.679611,+,-,+,-,-,-,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3268,66720.078125,67416.492188,63001.464844,65603.539062,66163.695312,65915.070312,65932.103516,65360.277344,64899.095052,64543.729353,...,56999.375000,62092.179688,60291.375000,-,-,+,-,-,+,-
3269,65595.531250,66513.570312,60287.109375,63730.011719,64666.775391,65352.467448,65368.805664,65491.685156,65088.566406,64732.083147,...,62092.179688,60291.375000,58737.050781,-,+,-,-,+,-,-
3270,63719.652344,64319.992188,59503.882812,59975.605469,61852.808594,63103.052083,64008.251953,64290.165625,64572.338542,64358.143415,...,60291.375000,58737.050781,58998.085938,+,-,-,+,-,-,+
3271,59976.734375,63235.273438,59223.554688,62838.261719,61406.933594,62181.292969,63036.854492,63774.253906,64048.181641,64324.613281,...,58737.050781,58998.085938,62211.914062,-,-,+,-,-,+,+
3272,62820.515625,63275.128906,61246.179688,62122.750000,62480.505859,61645.539062,62166.657227,62854.033594,63499.003255,63773.119978,...,58998.085938,62211.914062,64555.195312,-,+,-,-,+,+,+

### Esporto il dataset

In [176]:
# dati_finali.to_csv('Dataset Bitcoin (€) da yfinance esteso da me con medie mobili da 2 a 200, 7 futuri e variazioni (periodo originale dal 17-09-2014 al 26-03-2024).csv', index=False)